{
    "token": "",
    "logs": {
        "moderation": "",
        "serveur": "",
        "roles": "",
        "salons": "",
        "joinLeave": "",
        "messages": "",
        "vocal": ""
    }
}